/* changed every item's font and color by default */
* {
    text-align: center;
    color:blueviolet;
    font-family: Arial;
}

/* Change the size color and behaviors of the header */
header{
    font-size: 50px;
    background-color: blue;
    font-weight: 800;
    color:red;
    display:inline;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
    height: 68px;
}
/* change the behavior of the nav bar  */
nav{
    display:flex;
    justify-content: right;
    background-color:gray;
    height: 58px;
    padding-right: 3%;
    padding-top:10px;
    flex-wrap: wrap;
}
/* Change the behavior of the a href link under the nav bar */
nav a{
    padding: 10px;
    font-size: 20px;
}

/* Set the big background img with a height width and margin */
.Background-img img {
    height: 300px;
    width: 100%;
    margin-bottom: 25px ;
}
/* Change the Work and About me header 2's color and flex prop */

.Work h2,.AboutMe h2{
    font-size: 40px;
    color: red;
    padding-left: 200px;
    display:flex;
    border-right-style:solid ;
    padding-right: 10px;
    flex-wrap: wrap;
    align-content: center;
}

/* Changed Work to a flexbox and changed it's height */
.Work {
    display:flex;
    flex-wrap: wrap;
    height:800px;
    padding-left: 16px;

}

.AboutMe {
    height:300px;
    display:flex;
}

/* Changed the behavior of the p text in about me */
.AboutMe p{
    font-size: 30px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
} 
/* gave the imagecontainer in work a flex prop and height width */
.imagecont{
    height:880px;
    width: 80%;
    display:flex;
    flex-wrap: wrap;
}
/* Added a diff color border to all of the img in work */
.imagecont img{
    border-style: solid;
    border-color: blue;
    flex-wrap: wrap;
}
/* Gave all workpic below a seperae behavior */
.WorkPic1{
    Height:300px;
    width:100%;
    margin: 2%;
}


.WorkPic2 , .WorkPic4{
    Height:200px;
    margin-top:5px;
    margin-bottom: 20px;
    width:700px;
    margin-left: 30px;
}

.WorkPic3 {
    Height:200px;
    margin-top:5px;
    margin-bottom: 20px;
    width:700px;
    margin-left: 25px;
}

.WorkPic5{
    Height:200px;
    margin-top:5px;
    margin-bottom: 20px;
    width:700px;
    margin-left: 25px;
}

.ContactMe {
    margin-top:50px;
    height:300px;
    display:flex;
    
}
/* Set the behavior of header 2 within contact me */
.ContactMe h2{
    font-size: 40px;
    color: red;
    padding-left:99px;
    display:flex;
    border-right-style:solid ;
    padding-right: 10px;
    flex-wrap: wrap;
    align-content: center;
}

.ContactMe a{
    display: flex;
    font-size: 40px;
    margin: 10px;
    margin-left: 45px;
    align-items: center;
}

h3{
    position: absolute;
    right: 10px;
    top: 190px;
    border-style: solid;
    font-size: 50px;
    color:blue;
    background-color: black;
}